
:root {

    --primarydark: hsl(300, 43%, 22%);
    --primarysoft: hsl(333, 80%, 67%);
    --neutraldark: hsl(303, 10%, 53%);
    --neutrallight: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 62,5%;
}

main {
    background-color: var(--white);
    width: 100vw;
    height: auto;
    padding: 5%;
    display: flex;
    flex-direction: column;
    font-family: "League Spartan", sans-serif;
    position: relative;

}

.title--container h1 {
    color: var(--primarydark);
    font-size: 2.8rem;
    padding: 10%;
    text-align: center;
    line-height: 2.15rem;
    letter-spacing: -0.1rem;
}

.title--container p {
    color: var(--primarydark);
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.6rem;
    opacity: 80%;
    letter-spacing: -0.05rem;
    
}

.rating--container {
    height: auto;
    width: 330px;
    margin: 20px  auto;
}

.rating--block {
    background-color: var(--neutrallight);
     height: 80px;
     width: 100%;
     margin-top: 15px;
     border-radius: 10px;
     color: var(--primarydark);
     text-align: center;
     font-weight: 700;
     font-size: 1.2rem;
     padding: 5px;
}

.rating-fivestars {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 8px;
    margin-top: 10px;

}

span {
    background-image: url(./images/star-full-icon.png);
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.testimonials--container article{
    background-color: var(--primarydark);
    height: 250px;
    width: 330px;
    border-radius: 10px;
    margin: 20px  auto;
    padding: 40px;

}

.testimonials--container p {
    color: var(--neutrallight);
    font-size: 0.8rem;
    line-height: 1.4rem;
    

}